<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
	<h2>th:each 迭代列表</h2>
    <table>
		<tr>
			<th>no</th>
			<th>account</th>
			<th>name</th>
			<th>password</th>
			<th>accountType</th>
			<th>tel</th>
		</tr>
		<!-- 对后端传递的list进行遍历 -->
		<tr th:each="list,stat : ${accountList}">
		   <!-- stat.count 未每行添加序号 -->
		   <td th:text="${stat.count}"></td>
		   <td th:text="${list.account}"></td>
		   <td th:text="${list.name}"></td>
		   <td th:text="${list.password}"></td>
		   <td th:text="${list.accountType}"></td>
		   <td th:text="${list.tel}"></td>
		</tr>
    </table>
    
    <h2>简单格式化输出</h2>
    <dl>
        <dt>产品名称:</dt>
        <dd th:text="${product.description}">葡萄干</dd>

        <dt>产品价格(${'￥' + #numbers.formatDecimal(product.price, 1, 2)} 格式化和字符串拼接):</dt>
        <dd th:text="${'￥' + #numbers.formatDecimal(product.price, 1, 2)}">350</dd>

        <dt>产品有效时间(${#dates.format(product.availableFrom, 'yyyy-MM-dd')}):</dt>
        <dd th:text="${#dates.format(product.availableFrom, 'yyyy-MM-dd')}">28-Jun-2018</dd>
    </dl>
    
    <h2>Spring MVC5 + Thymeleaf 字符串转义示例</h2>
    <div th:text="${html}">Some escaped text</div>
    <div th:utext="${html}">Some unescaped text</div>
</body>
</html>